<%- include("include/head.ejs") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No accout</title>
</head>
<body>
    <h1>No such account</h1>
</body>
</html>