body{
    margin-left: 20px;
}
.chat {
    background-color: rgb(92, 159, 222);
    padding: 10px;
    border-radius: 16px;
    display: inline-block;
}
.msg{
    background-color: rgb(74, 159, 244);
    color: black;
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 10px;
}
button{
    background-color: dodgerblue;
    margin-top: 5px;
    border: 1px solid black;
    color: black;
    font-size: 12px;
    font-style: italic;
    padding: 6px 10px;
    border-radius: 10px;
}

button:hover{
    font-size: 16px;
}